Development of the code that will be used by the reservoir class to associate provided points (or reservoir shapes with the SWOT Prior lake database)

In [1]:
import geopandas as gpd

In [2]:
file_path = r"C:\Users\cwch\Projects\WR-Collaboration\rk-altimetry\data\priors\SWOT_LakeDatabaseSci_AS_44_20000101T000000_20991231T235959_20231017T000000_v105.sqlite"

prior_lakes = gpd.read_file(file_path, layer='lake', columns='lake_id')

In [3]:
prior_lakes

                                                geometry
0      MULTIPOLYGON (((108.43122 11.05958, 108.42984 ...
1      MULTIPOLYGON (((108.50123 11.24776, 108.50096 ...
2      MULTIPOLYGON (((108.27775 11.22204, 108.27693 ...
3      MULTIPOLYGON (((107.58608 11.22668, 107.58554 ...
4      MULTIPOLYGON (((107.54241 11.22407, 107.54186 ...
...                                                  ...
42273  MULTIPOLYGON (((93.47275 8.11525, 93.47275 8.1...
42274  MULTIPOLYGON (((93.501 8.11525, 93.501 8.11475...
42275  MULTIPOLYGON (((93.71375 7.18925, 93.71375 7.1...
42276  MULTIPOLYGON (((93.71875 7.40525, 93.71875 7.4...
42277  MULTIPOLYGON (((93.666 7.1245, 93.666 7.12475,...

[42278 rows x 1 columns]

In [4]:
prior_lakes.head()

                                            geometry
0  MULTIPOLYGON (((108.43122 11.05958, 108.42984 ...
1  MULTIPOLYGON (((108.50123 11.24776, 108.50096 ...
2  MULTIPOLYGON (((108.27775 11.22204, 108.27693 ...
3  MULTIPOLYGON (((107.58608 11.22668, 107.58554 ...
4  MULTIPOLYGON (((107.54241 11.22407, 107.54186 ...